body {
    margin: 0;
    padding: 0;
  }

  .sidebar {
    width: 220px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
  }

  .sidebar .btn,
  .sidebar .nav-link {
    width: 100%;
    margin-bottom: 10px;
    
  }


  .post-actions button {
    border: none;
    background: none;
    font-size: 1.2rem;
    color: #555;
    transition: color 0.2s ease;
  }

  .post-actions button:hover {
    color: #000;
  }

  .post-actions .liked {
    color: red;
  }

  .post-actions .saved {
    color: #007bff;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #222;
  }
  .bookmark-count {
  margin-left: 4px;
  font-size: 0.9em;
  color: #555;
}
.tag-list .btn.btn-outline-secondary:hover {
  background-color: #EBEDD8 !important;
  border-color:     #CEA8BD !important;
  color:            #3B09BA !important;
}