.post-detail-container {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.left-column {
  flex: 1;
  max-width: 320px;
}

.right-column {
  flex: 2;
}

.post-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.comment {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.steps-row {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}


@media (max-width: 768px) {

  .steps-row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .steps-row {
    grid-template-columns: 1fr;
  }
}

.custom-step-box{

  border: 3.5px dashed #f7f1ec;
  
}
.step-box {
  display: flex;
  flex-direction: column;
}
.step-box p:first-child {
  margin-bottom: 0.5rem;
}
.step-box img,
.step-box video {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}
.step-box p:last-child {
  margin-top: auto;
}

.step-image {
  width: 100%;
  border-radius: 8px;
}

.tag {
  background-color: #f7f1ec!important;
  border-radius: 32px;
  padding: 4px 10px;
  margin-right: 6px;
  font-size: 14px !important;
  /* display: inline-block; */
}
.post-header .d-flex.flex-column{
  align-items: flex-end;
  margin-bottom:6px !important;
}


.post-title {
  font-size: 2.5rem;
  margin-bottom: 5px;
}


.post-actions {

  flex-shrink: 0;
  gap: 0.5rem;
}
.post-editor-actions{
  flex-shrink:0;
}

@media (max-width: 576px) {
  .post-header {
    flex-direction: column;
  }
  .post-header .d-flex.flex-column {
    width: 100%;
    align-items: flex-start;
    margin-top: 1rem;
  }
  .post-editor-actions {
    margin-top: 0.5rem;
  }
}
.icon-btn {
  background: none !important;
  border: 2px solid yellow !important;  
  padding: 0 !important;                
  margin: 0 !important;
  cursor: pointer !important;
}

.icon-btn i {
  font-size: 1.5rem !important;        
  line-height: 1 !important;           
  /* border: 2px solid yellow */
}


.icon-btn .like-count,
.icon-btn .bookmark-count {
  font-size: 0.9rem !important;
  color: #333 !important;
}

.like-btn i.bi-heart {
  -webkit-text-fill-color: transparent !important;
  -webkit-text-stroke-width: 2px !important;
  -webkit-text-stroke-color: #9f0026 !important;
  font-size: 1.5rem !important;
}

.like-btn i.bi-heart-fill {
  color: #9f0026 !important;
  -webkit-text-stroke-width: 1px !important;
  -webkit-text-stroke-color: #9f0026!important;
  font-size: 1.5rem !important;
}
.save-btn .bi-bookmark{
   -webkit-text-fill-color: transparent !important;
  -webkit-text-stroke-width: 2px !important;
  -webkit-text-stroke-color: #71a1cc !important;
  font-size: 1.5rem !important;
}
.save-btn i.bi-bookmark-fill{
  color: #71a1cc !important;
  -webkit-text-stroke-width: 1px !important;
  -webkit-text-stroke-color: #71a1cc !important;
  font-size: 1.5rem !important;
}
.info{
  border-bottom:4px dashed #f7f1ec;
  padding: 5px 0;
  margin-bottom:9px;
}
.cover-img{
  margin-bottom:5px !important;
  width:100%;
  border-radius:10px;
}
.tags{
  margin-bottom:9px;
}