body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
  }
  
.nav-tabs {
  --bs-nav-tabs-border-color: #fffade !important;
  --bs-nav-tabs-link-hover-border-color: #dcbebe !important;

  --bs-nav-tabs-link-active-color: #0f5c5c !important;
  --bs-nav-tabs-link-active-bg: #fff7ff !important;
  --bs-nav-tabs-link-active-border-color: #fffade !important;
}  
.follow-card{
      position: relative;            
      margin-bottom: 16px;           
      padding: 12px 16px;           
      background-color: #fff6ff !important;       
      border: 2px dashed #F2E2F3 !important;     
      border-radius: 86px;          
      box-shadow: 0 4px 8px rgba(0,0,0,0.05);  
      transition: transform .2s, box-shadow .2s;
    }
.follow-card:hover {
      transform: translateY(-3px);
      box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    }