
.sidebar {
  width: 220px;                          
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem !important;  
  background:#cbc7e0 !important;
  border-right: 3px dashed #f7f1ec;     
  /* border-radius: 999px;   */
}

.sidebar .nav-link:hover,
.sidebar a:hover {
  background-color: #fffade !important;
  border-radius: 999px; 
}

.sidebar .badge {
  background-color: #F2E2F3 !important; /* 柔和的薄荷绿 */
  color: #ffffff !important;
  border-radius: 999px;
  box-shadow: 0 0 0 2px #cbc7e0; /* 与侧栏底色柔和过渡 */
}


.sidebar .btn-primary:hover {
  /* background-color: #bea5aa!important; */
  background-color: #fffade !important;
  border-radius: 999px;  
  /* border-color: #7493DC !important; */
}
.sidebar .btn-outline-secondary {
  border-radius: 999px; 
  color: #00766dimportant;
  border-color: #00766d!important;
  border-width: 2px !important;
}
.sidebar .btn-outline-secondary:hover {
  background-color: #fffade  !important;
  border-radius: 999px; 
  
}
.sidebar .me-text {
  color: #00766d !important;  
  font-weight: bold;          
}

.sidebar-logo__img {
  max-width: 100%;       
  height: auto;
  width: 350px;
  /* border-radius: 499px;  */
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}