.upload-cover-container {
  width: 100%;
  aspect-ratio: 3 / 4;
  position: relative;
  border: 2px dashed #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

#coverLabel {
  font-size: 1.2rem;
  color: #888;
  cursor: pointer;
  text-align: center;
}

.cover-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.step-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #fdfdfd;
}

.step-media {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 8px;
}

.step-preview {
  margin-bottom: 10px;
}